{% extends 'hexafuel_oil_app/main.html'%}
{% load static %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static '/css/fuel_quote.css' %}">

{% include 'hexafuel_oil_app/navbar.html'%}

<br>

<div class="form_container">
  <form id="fuel-quote-form" name="fuel-form" method="POST" action="" enctype="multipart/form-data"
    onsubmit="return validateForm()">
    {% csrf_token %}
    <div class="input-group mb-2">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-fill-drip"></i></span>
      </div>

      <input type="text" id="gallons" name="gallons" class="form-control" required>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
      </div>

      <input type="text" id="delivery-address" name="delivery-address" class="form-control" readonly
        value="{{ client.address1 }}">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
      </div>

      <input type="date" id="delivery-date" name="delivery-date" class="form-control" required>
    </div>

    <div class="alert alert-warning cost-group" role="alert">
      <div class="row">
        <div class="col-md-4">
          <!-- Cost per Gallons: ${{ cost_per_gallons }} -->
          <!-- Cost per Gallons: ${{ price_result }} -->
          Cost per Gallons: $<span id="price">{{ price_result }}</span>
        </div>
        <div class="col-md-4 offset-md-4">
          <h4>Total Cost: $<span id="total">{{ total_result }}</span></h4>
          <!-- <h4>Total Cost: ${{total_result}}</h4> -->
        </div>
      </div>
    </div>

    <input type="button" class="btn btn-primary centered" id="calculate" name="get-quote" value="Get Quote">

    <input class="btn btn-primary centered mt-2" id="fuel-quote-submit" type="submit" name="Calculate Cost" value="Submit">
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
    integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="{% static 'js/fuel_quote/util.js' %}"></script>


  <!-- https://www.youtube.com/watch?v=KgnPSmrQrXI&t=465s&ab_channel=Codebites -->
  <script type="text/javascript">
    $(document).on('click', '#calculate', function (e) {
      // $('#calculate').click(function () {
      // e.preventDefault(); // Prevent page refresh

      $.get('/calculate', {
        gallons: $('#gallons').val(),
        address: $('#delivery-address').val(),
        date: $('#delivery-date').val(),
      },
        function (data) {
          $('#total').html(data.total_result);
          $('#price').html(data.price_result);
          console.log(data);
        });
    });


  </script>

  {% endblock %}