{% extends 'hexafuel_oil_app/main.html'%}

{% load static %}
{% block content %}

{% include 'hexafuel_oil_app/navbar.html'%}

<br>

<div class="row">
  <div class="col-md-11 history_table">
    <div class="card card-body profile-change-card-side">
      <table class="table table-sm table-hover">
        <tr>
          <th>Gallons</th>
          <th>Address</th>
          <th>Date</th>
          <th>Suggested Price/Gallon</th>
          <th>Total</th>
        </tr>

        {% for quote in quotes %}
        <tr>
          <td>{{ quote.gallons }}</td>
          <td>{{ quote.deliver_address }}</td>
          <td>{{ quote.delivery_date }}</td>
          <td>{{ quote.suggested_price_per_gallons }}</td>
          <td>{{ quote.total_amount_due }}</td>
        </tr>
        {% endfor %}

      </table>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}